body{
    font-family: 'Slabo 27px', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $body-color;
    // background-image: url(../images/shelfs-bg.JPG);
    // @include bg-body;
    // background-repeat: repeat-x;
    // background-size: 750px;
    // background-position: top;
    
    >*{
        padding: 0 1%; 
        text-align: center;
        // width: 1200px;
        margin: 0 10% auto;
    
        
    }
}
