header{
    position: relative;
    z-index: 2;
    font-family: 'Lobster', cursive;
    padding: 0;
    width: 100vw;
    margin: 0;
    @media #{$medium-screen} {
        z-index: 1;
        }
    .logo-container{
        position: relative;
    
    #logo{
        padding: 20px 15px;
        position: absolute;
        width: auto;
        height: auto;
        // left: 55%;
        right: 0;
        top: -40px;
        z-index: 1;
        background-color: $light-green;
        border: 8px solid $cream;
        border-radius: 30px;
        transition: all 0.5s;
        -webkit-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.3);
box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.3);

        &:after {
            content: " ";
            position: absolute;
            z-index: -1;
            top: -3px;
            left: 7px;
            right: 7px;
            bottom: 7px;
            border: 4px dotted $cream;
            border-radius: 25px;
            }
        .empty{
            height: 30px;
            width: 100%;
        }
        .brand-name{
            font-size: 3em;
            color: $light-pink;
            text-shadow: 2px 3px 4px #ffd8da;
            padding: 0 5px;
            @media #{$large-screen} {
                font-size: 2em;
              }
              @media #{$small-screen} {
                font-size: 1.2em;
                } 
        }
    
        img{
            width: 120px;
            height: 120px;
            padding: 0;
            border: 5px solid $cream;
            border-radius: 50%;
            -webkit-box-shadow: 0px 0px 16px -2px rgba(255, 206, 210,0.71);
-moz-box-shadow: 0px 0px 16px -2px rgba(255, 206, 210,0.71);
box-shadow: 0px 0px 16px -2px rgba(255, 206, 210, 0.71);
            @media #{$large-screen} {
                width: 80px;
                height: 80px;
                }  
                @media #{$small-screen} {
                    width: 45px;
                    height: 45px;
                    }        
        }
    }
}
    #roof{
            position: absolute;
            width: 100%;
            height: 90px;
            top: -30px;
            left: 0;
            background-image: url(../images/falbana.png);
            background-repeat: repeat-x;
            background-size: contain;
            background-position: center;
        }    


}

