@mixin bg-body{
    background: rgba(255,245,247,1);
    background: -moz-linear-gradient(left, rgba(255,245,247,1) 0%, rgba(255,245,247,1) 50%, rgba(255,235,242,1) 51%, rgba(255,235,242,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,245,247,1)), color-stop(50%, rgba(255,245,247,1)), color-stop(51%, rgba(255,235,242,1)), color-stop(100%, rgba(255,235,242,1)));
    background: -webkit-linear-gradient(left, rgba(255,245,247,1) 0%, rgba(255,245,247,1) 50%, rgba(255,235,242,1) 51%, rgba(255,235,242,1) 100%);
    background: -o-linear-gradient(left, rgba(255,245,247,1) 0%, rgba(255,245,247,1) 50%, rgba(255,235,242,1) 51%, rgba(255,235,242,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,245,247,1) 0%, rgba(255,245,247,1) 50%, rgba(255,235,242,1) 51%, rgba(255,235,242,1) 100%);
    background: linear-gradient(to right, rgba(255,245,247,1) 0%, rgba(255,245,247,1) 50%, rgba(255,235,242,1) 51%, rgba(255,235,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5f7', endColorstr='#ffebf2', GradientType=1 );
}
@mixin bg-about{
    background: rgba(235,235,235,1);
background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,235,235,1)), color-stop(80%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff', GradientType=0 );
}