#nav{
    font-family: 'Lobster', cursive;
    font-size: 1.6em;
    
    @media #{$medium-screen}{
    max-width: 1000px;
    z-index: 1;
    margin: 0 !important;
    background-color: rgba(148, 201, 191, 0);
    transition: all .3s;
    
    /* NEW CLASS AFTER CLICK */
    &.bg-nav{
        background-color: rgba(148, 201, 191,1);
        
        &:after{
            content: "";
            width: 100%;
            height: 50px;
            background-image: url(../images/falbana.png);
            background-repeat: repeat-x;
            background-size: 30px;
            background-position: center;
            bottom: -40px;
            left: 0;
            position: absolute;
            display: inline-block;
        }
    }
     .navbar-nav a.nav-link{
        width: 100%;
        color: $light-pink;
        text-shadow: 2px 3px 4px #ffd8da;
        &:hover{
            color: $pink-darker;
        }
    }
    .custom-toggler.navbar-toggler {
        border: 2px solid $sugar-red;
    }
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#f02252' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}
    @media #{$medium-screen-plus} {
         
        font-size: 1.4em;
    
    li.nav-item{
        position: relative;
        top: -50px;
        height: 170px;
        width: 130px;
        margin: 0 20px;
        background-color: $light-yellow;
        border-radius: 20%;
        transition: all 0.5s;
        
        &:before {
        content: " ";
        position: absolute;
        background-color: white;
        z-index: -2;
        top: -13px;
        left: -13px;
        right: -13px;
        bottom: -13px;
        border: 3px solid $light-yellow;
        border-radius: 20%;
        -webkit-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.3);
box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.3);
        }
        &:after {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 3px;
        left: -7px;
        right: -7px;
        bottom: -7px;
        border: 4px dotted $pink-darker;
        border-radius: 20%;
        }
        &:hover{
            top: -30px;
        }
        a.nav-link{
            width: 100%;
            color: $sugar-red;   
        &:hover{
                color: rgb(250, 4, 4);
        }
        }
    }
    }
}

