#slider{
  margin-top: 50px;
  @media #{$medium-screen} {
    margin-top: 100px;
  }
  
  .owl-carousel {
    max-width: 70%;
    
    .owl-stage-outer { 
      .owl-stage{
        margin-bottom: 60px;
      
        .owl-item{
            border:3px solid $light-green;
            padding: 7px;
            -webkit-box-shadow: 0px 87px 43px -53px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 87px 43px -53px rgba(0,0,0,0.16);
box-shadow: 0px 87px 43px -53px rgba(0,0,0,0.16);
            
        }
      }
  }
}
  /* BUTTON STYLE */
    .owl-prev,
    .owl-next {
    outline: none;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $light-green !important;
    color: $light-pink !important;
    line-height: 2em;
    border-radius: 50%;
    border: 3px solid $cream;
    @media #{$medium-screen} {
      background-color: transparent !important;
      border: none;
    }
      span{
        font-size: 2.5em;
      }
    
    
    &:hover{
      background-color: $cream !important;
      @media #{$medium-screen} {
        background-color: transparent !important;
      }
      }
    }

    .owl-prev {
    left: -50px;
    @media #{$medium-screen} {
      left: 0px;
    }
    }

    .owl-next {
    right: -50px;
    @media #{$medium-screen} {
      right: 0px;
    }
    }
  }

  #table{
    z-index: 0;
    padding: 0;
    img{
        margin-top: -100px;  
        height: auto;
        width: 100%;
        @media #{$medium-screen} {
          margin-top: -60px;
        }
        @media #{$small-screen} {
          margin-top: -20px;
        }
      }
  }
