$light-yellow: #f0dbc2;
$sugar-red: #f02252;
$pink: #eac8d6;
$pink-darker: #fb8fae;
$light-green: #94c9bf;
$lighter-green: #d3fff6;
$light-pink: #f3484d;
$cream: rgb(255, 239, 220);
$body-color: #fdf3f6;