body {
  font-family: 'Slabo 27px', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../images/strips-pink.jpg);
  background-repeat: repeat; }
  body > * {
    padding: 0 1%;
    text-align: center;
    margin: 0 10% auto; }

header {
  position: relative;
  z-index: 2;
  font-family: 'Lobster', cursive;
  padding: 0;
  width: 100vw;
  margin: 0; }
  @media only screen and (max-width: 991px) {
    header {
      z-index: 1; } }
  header .logo-container {
    position: relative; }
    header .logo-container #logo {
      padding: 20px 15px;
      position: absolute;
      width: auto;
      height: auto;
      right: 0;
      top: -40px;
      z-index: 1;
      background-color: #94c9bf;
      border: 8px solid #ffefdc;
      border-radius: 30px;
      transition: all 0.5s;
      -webkit-box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3); }
      header .logo-container #logo:after {
        content: " ";
        position: absolute;
        z-index: -1;
        top: -3px;
        left: 7px;
        right: 7px;
        bottom: 7px;
        border: 4px dotted #ffefdc;
        border-radius: 25px; }
      header .logo-container #logo .empty {
        height: 30px;
        width: 100%; }
      header .logo-container #logo .brand-name {
        font-size: 3em;
        color: #f3484d;
        text-shadow: 2px 3px 4px #ffd8da;
        padding: 0 5px; }
        @media only screen and (max-width: 1200px) {
          header .logo-container #logo .brand-name {
            font-size: 2em; } }
        @media only screen and (max-width: 575px) {
          header .logo-container #logo .brand-name {
            font-size: 1.2em; } }
      header .logo-container #logo img {
        width: 120px;
        height: 120px;
        padding: 0;
        border: 5px solid #ffefdc;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 16px -2px rgba(255, 206, 210, 0.71);
        -moz-box-shadow: 0px 0px 16px -2px rgba(255, 206, 210, 0.71);
        box-shadow: 0px 0px 16px -2px rgba(255, 206, 210, 0.71); }
        @media only screen and (max-width: 1200px) {
          header .logo-container #logo img {
            width: 80px;
            height: 80px; } }
        @media only screen and (max-width: 575px) {
          header .logo-container #logo img {
            width: 45px;
            height: 45px; } }
  header #roof {
    position: absolute;
    width: 100%;
    height: 90px;
    top: -30px;
    left: 0;
    background-image: url(../images/falbana.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center; }

#nav {
  font-family: 'Lobster', cursive;
  font-size: 1.6em; }
  @media only screen and (max-width: 991px) {
    #nav {
      max-width: 1000px;
      z-index: 1;
      margin: 0 !important;
      background-color: rgba(148, 201, 191, 0);
      transition: all .3s;
      /* NEW CLASS AFTER CLICK */ }
      #nav.bg-nav {
        background-color: #94c9bf; }
        #nav.bg-nav:after {
          content: "";
          width: 100%;
          height: 50px;
          background-image: url(../images/falbana.png);
          background-repeat: repeat-x;
          background-size: 30px;
          background-position: center;
          bottom: -40px;
          left: 0;
          position: absolute;
          display: inline-block; }
      #nav .navbar-nav a.nav-link {
        width: 100%;
        color: #f3484d;
        text-shadow: 2px 3px 4px #ffd8da; }
        #nav .navbar-nav a.nav-link:hover {
          color: #fb8fae; }
      #nav .custom-toggler.navbar-toggler {
        border: 2px solid #f02252; }
      #nav .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#f02252' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); } }
  @media only screen and (min-width: 991px) {
    #nav {
      font-size: 1.4em; }
      #nav li.nav-item {
        position: relative;
        top: -50px;
        height: 170px;
        width: 130px;
        margin: 0 20px;
        background-color: #f0dbc2;
        border-radius: 20%;
        transition: all 0.5s; }
        #nav li.nav-item:before {
          content: " ";
          position: absolute;
          background-color: white;
          z-index: -2;
          top: -13px;
          left: -13px;
          right: -13px;
          bottom: -13px;
          border: 3px solid #f0dbc2;
          border-radius: 20%;
          -webkit-box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3); }
        #nav li.nav-item:after {
          content: " ";
          position: absolute;
          z-index: -1;
          top: 3px;
          left: -7px;
          right: -7px;
          bottom: -7px;
          border: 4px dotted #fb8fae;
          border-radius: 20%; }
        #nav li.nav-item:hover {
          top: -30px; }
        #nav li.nav-item a.nav-link {
          width: 100%;
          color: #f02252; }
          #nav li.nav-item a.nav-link:hover {
            color: #fa0404; } }

#slider {
  margin-top: 50px; }
  @media only screen and (max-width: 991px) {
    #slider {
      margin-top: 100px; } }
  #slider .owl-carousel {
    max-width: 70%;
    /* BUTTON STYLE */ }
    #slider .owl-carousel .owl-stage .owl-item {
      /*  &:after{
            z-index: 33;
            position:absolute;
            bottom:-20px;
            left:5%;
            content:"";
            background:gray;
            height:20px;
            width:90%;
    } */ }
    #slider .owl-carousel .owl-prev,
    #slider .owl-carousel .owl-next {
      height: 40px;
      width: 40px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #94c9bf !important;
      color: #f3484d !important;
      line-height: 2em;
      border-radius: 50%;
      border: 3px solid #ffefdc; }
      @media only screen and (max-width: 991px) {
        #slider .owl-carousel .owl-prev,
        #slider .owl-carousel .owl-next {
          background-color: transparent !important;
          border: none; } }
      #slider .owl-carousel .owl-prev span,
      #slider .owl-carousel .owl-next span {
        font-size: 2.5em; }
      #slider .owl-carousel .owl-prev:hover,
      #slider .owl-carousel .owl-next:hover {
        background-color: #ffefdc !important; }
        @media only screen and (max-width: 991px) {
          #slider .owl-carousel .owl-prev:hover,
          #slider .owl-carousel .owl-next:hover {
            background-color: transparent !important; } }
    #slider .owl-carousel .owl-prev {
      left: -50px; }
      @media only screen and (max-width: 991px) {
        #slider .owl-carousel .owl-prev {
          left: 0px; } }
    #slider .owl-carousel .owl-next {
      right: -50px; }
      @media only screen and (max-width: 991px) {
        #slider .owl-carousel .owl-next {
          right: 0px; } }
  #slider #table {
    z-index: 0;
    padding: 0; }
    #slider #table img {
      margin-top: -60px;
      height: auto;
      width: 100%; }
      @media only screen and (max-width: 991px) {
        #slider #table img {
          margin-top: -30px; } }
      @media only screen and (max-width: 575px) {
        #slider #table img {
          margin-top: -10px; } }

#about {
  margin-top: 40px; }
  #about article {
    height: 500px;
    background-color: white;
    border: 4px solid #e6e6e6; }
