body {
  font-family: 'Slabo 27px', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdf6f8; }
  body > * {
    padding: 0 1%;
    text-align: center;
    width: 1200px;
    margin: auto; }

header {
  position: relative;
  z-index: 2;
  font-family: 'Lobster', cursive;
  padding: 0;
  width: 100vw;
  margin: 0; }
  header #logo {
    padding: 20px 15px;
    position: absolute;
    width: auto;
    height: auto;
    left: 55%;
    top: -40px;
    z-index: 1;
    background-color: #94c9bf;
    border: 8px solid #ffefdc;
    border-radius: 30px;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3);
    /* &:before {
            content: " ";
            position: absolute;
            background-color: $light-green;
            z-index: -2;
            top: -13px;
            left: -13px;
            right: -13px;
            bottom: -13px;
            border: 3px solid $light-yellow;
            border-radius: 30px;
            } */ }
    header #logo:after {
      content: " ";
      position: absolute;
      z-index: -1;
      top: -3px;
      left: 7px;
      right: 7px;
      bottom: 7px;
      border: 4px dotted #ffefdc;
      border-radius: 25px; }
    header #logo .empty {
      height: 30px;
      width: 100%; }
    header #logo .brand-name {
      font-size: 3em;
      color: #f3484d;
      text-shadow: 2px 3px 4px #ffd8da;
      padding: 0 5px; }
    header #logo img {
      width: 120px;
      height: 120px;
      padding: 0;
      border: 5px solid #ffefdc;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 16px -2px rgba(255, 206, 210, 0.71);
      -moz-box-shadow: 0px 0px 16px -2px rgba(255, 206, 210, 0.71);
      box-shadow: 0px 0px 16px -2px rgba(255, 206, 210, 0.71); }
  header #roof {
    position: absolute;
    width: 100%;
    height: 90px;
    top: -30px;
    left: 0;
    background-image: url(../images/falbana.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center; }

.navbar {
  width: 1000px;
  z-index: 1;
  font-family: 'Lobster', cursive;
  font-size: 1.4em; }
  .navbar li.nav-item {
    position: relative;
    top: -50px;
    height: 170px;
    width: 130px;
    margin: 0 20px;
    background-color: #f0dbc2;
    border-radius: 20%;
    transition: all 0.5s; }
    .navbar li.nav-item:before {
      content: " ";
      position: absolute;
      background-color: white;
      z-index: -2;
      top: -13px;
      left: -13px;
      right: -13px;
      bottom: -13px;
      border: 3px solid #f0dbc2;
      border-radius: 20%;
      -webkit-box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.3); }
    .navbar li.nav-item:after {
      content: " ";
      position: absolute;
      z-index: -1;
      top: 3px;
      left: -7px;
      right: -7px;
      bottom: -7px;
      border: 4px dotted #fb8fae;
      border-radius: 20%; }
    .navbar li.nav-item:hover {
      top: -30px; }
    .navbar li.nav-item a.nav-link {
      width: 100%;
      color: #f02252; }
      .navbar li.nav-item a.nav-link:hover {
        color: #fa0404; }

.owl-carousel {
  height: 250px; }
  .owl-carousel .owl-item {
    height: 250px; }
  .owl-carousel .owl-prev,
  .owl-carousel .owl-next {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #7e550a !important;
    color: springgreen !important; }
    .owl-carousel .owl-prev:hover,
    .owl-carousel .owl-next:hover {
      background-color: slateblue !important; }
  .owl-carousel .owl-prev {
    left: -50px; }
  .owl-carousel .owl-next {
    right: -50px; }
